body 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
}
.header_div{
    color: bisque;
    background-color: rgb(186, 127, 136);
}

.header_div p {
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div_button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 30px;
    width: 130px;
}
.copy_right_footer{
    position: fixed;
    color: brown;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: lightgray;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}